<div class="showDiv">
    <div class="card">
        <div class="card-header" [ngStyle]="{'font-weight': 'bolder'}">
            Ordered Details
            <button type="button" class="btn btn-link pull-right" (click)="_viewOrder()">Back</button>
        </div>
        <form class="form-line formDiv" [formGroup]="orderForm">
            <div class="form-group">
                <label for="customerName">Customer Name:</label>
                <input type="text" class="form-control" name="customerName" id="customerName" placeholder="Enter the customer name" formControlName="customerName" />
            </div>
            <div class="form-group">
                <label for="itemName">Item Name:</label>
                <input type="text" class="form-control" name="itemName" id="itemName" placeholder="Enter the item name" formControlName="itemName" />
            </div>
            <div class="form-group">
                <label for="noOfItem">No. of item:</label>
                <input type="number" class="form-control" name="noOfItem" id="noOfItem" placeholder="Enter the order count" formControlName="noOfItem" />
            </div>
            <div class="form-group">
                <label for="price">Item Price:</label>
                <input type="text" class="form-control" name="price" id="price" placeholder="Enter the item price" formControlName="price" />
            </div>
            <div class="form-group">
                <label for="totalAmount">Total Amount:</label>
                <input type="text" class="form-control" name="totalAmount" id="totalAmount" placeholder="Enter the total amount" formControlName="totalAmount" />
            </div>
            <div class="form-group">
                <label for="address">Delivery Address:</label>
                <textarea name="address" class="form-control" id="address" cols="5" rows="5" formControlName="address"></textarea>
            </div>
            <div class="form-group text-center">
                <button class="btn btn-outline-secondary" (click)="_viewOrder()">Close</button>
            </div>
        </form>
    </div>
</div>